.addCartAnime {
    background-color: var(--iwp-pink-2);
    width: 350px;
    height: 100px;
    padding-left: 0.5rem;
    position: absolute;
    transition: right .6s ease-out;
    right: -358px;
    top: 62px;
    opacity: 0.8;
    z-index: 10;
    display: flex;
}

.addCartAnime button {
    background-color: var(--iwp-pink-2);
    border: none;
    color: white;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
    /* width: 20px; */
}

.addCartAnime h1 {
    margin: 0;
    align-self: center;
    padding: 0 0.5rem;
}

.cartAnime {
    right: 0px;
    transition: right .6s ease-out;
}
