.orderListContainer {
    grid-column: 3 / span 8 ;
    align-self: flex-start;
    justify-self: center;
}

.orderListTable {
    max-height: 110vh;
    padding: 20px;
    background-color: #ebf8dd;
    overflow-y: scroll;
    margin-top: 2rem;
}

/* .orderListTable */
.orderListTable table {
    border-collapse: collapse;
}

.orderListTable td, 
.orderListTable th {
    padding: 0.5em;
    text-align: center;
    border: solid 1pt black;
}

.orderListTable table .big {
    width: 120px;
}

.orderListTable table .medium {
    width: 100px;
}

.orderListTable table .small {
    width: 40px;
}

.orderListTable thead {
    background-color: #5CA4A9;
    color: #ebf8dd;
}

.orderListTable a {
    text-decoration: none;
}

.orderListTable a:link,
.orderListTable a:visited {
    color: blue;
}

.orderListContainer form input[type="submit"]
{
    display: block;

    background-color: var(--iwp-blue-2);
    color: white;
    text-decoration: none;

    height: 2rem;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}