:root {
    --iwp-red-1: #BE1622;
    --iwp-pink-1: #FFD6D6;  
    --iwp-pink-2: #F24450;
    --iwp-blue-1: #0400B9;
    --iwp-blue-2: #18A0FB;
    --iwp-blue-3: #E1EDFC;
    --iwp-yellow-1: #F8B22A;
    --iwp-grey-1: #3F3C3C;
    --iwp-grey-2: #988484;
    --iwp-green-1: #10EB26;
}