label {
    display: block;
    font-family: Inter;
    padding-bottom: 10px;
}

input {
    display: block;
    width: 522px;
    height: 26px;
    font-size: 24px;
    font-weight: 400;
    font-family: Inter;
    border: 1px solid #00000080;
    border-radius: 6px;
    padding: 10px 16px 10px 16px;
}

.register h1 {
    padding-top: 50px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    line-height: 56.25px;
    margin: 0;
}

#userDetailsAndRegister {
    display: grid;
    margin-top: 40px;
    row-gap: 20px;
    place-items: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 100px;
}

.register-button {
    background-color: #BE1622;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
    width: 556px;
    height: 48px;
    border: 1px solid #BE1622;
    border-radius: 6px;
}

.register-button:active {
    background-color: #f5717a;
    color: white;
}

a {
    font-family: 'Railway';
    text-decoration: none;
    color: #0400B9;
    font-size: 18px;
    font-weight: 400;
}
  
#login {
    font-family: 'Railway';
    display: block;
    width: 556px;
    font-size: 17px;
    font-weight: 600;
}