.editMyProfile form input[type="submit"]
{
    display: block;

    background-color: var(--iwp-blue-2);
    color: white;
    text-decoration: none;

    width: 50%;
    height: 2rem;
    margin: 0 auto;

    border: none;
    border-radius: 10px;
		
}