.navbar {
    padding: 0.25rem;
    background-color: var(--iwp-red-1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

h1.logo-text{
    color: white;
    margin: 0.75rem;
}

.nav-text {
    color: white;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin: 0 0.75rem;
}

.nav-list-link {
    padding: 0.75em;
    text-decoration: none;
    color: white;
}

.nav-list-link:hover {
    background-color: white;
    color: var(--iwp-red-1);
}

.nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.25rem;
    color: white;
}

.nav-icon a{
    /* text-decoration: none; */
    color: white;
}

.menu {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
}

.menu li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: rgb(231, 231, 231);
    
}

.menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.menu li a:hover {
    color: grey;
}

.btn
{
    border: 0;
    background-color: #BE1622;
    color: white;
    margin: 0 0.75rem;
    font-size: 16px;
    font-weight: 700;
}
.btn:hover
{
    background: white;
    color: #BE1622;
}


.open-menu {
    display: block;
}